/* Body & General */

body {
  font-family: montserrat;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

p {
  font-family: montserrat;
  color: #8f8f8f;
}

.container-fluid {
  padding: 7% 15%;
}

.white-section {
  background-color: #fff;
}

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

/* Title Section */


#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

#dog-img {
  width: 20%;
  transform: rotate(20deg);
  position: absolute;
  right: 25%;
}

/* Navigation Bar */

.navbar-brand {
  font-family: ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Download Button */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Features Section*/

#features {
  position: relative;
}

.features-text {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.fas {
  color: #ef8172;
  padding-bottom: 1rem;
}

.fas:hover {
  color: #ff4c68;
}

/* Testimonials Section*/

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
}

.testimonial-img {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

/* Press Section*/

#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section*/

.pricing-text {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Call to Action Section*/

/* Footer Section*/

#footer i {
  margin: 20px 10px;
}

/* MEDIA QUERY */

@media (max-width: 992px) {
  #dog-img {
    width: 60%;
    transform: rotate(0);
    position: static;
    /* right: 25%; */
  }

  .hero-section {
    text-align: center;
  }
}
